@import url("navbar.css");
@import url("footer.css");

@keyframes appear {
    to{
      bottom: 500px;
      opacity: 1;
    }
  }

html{
    height: 100%;
}
body{
    background-color: #3d3d3d;
}
#wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5em 0 auto 0;
    gap: 10px;
}
#images{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 45%;
    margin: 0 0 0 1em;
    opacity: 0;
    animation: appear 1s ease forwards;
}
#content{
    width: 45%;
    text-align: center;
    color: white;
    opacity: 0;
    animation: appear 1s ease forwards;
}
#content p{
    font-size: xx-large;
}
#content h1{
    text-align: center;
}
#contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
    margin-bottom: 5%;
    opacity: 0;
    animation: appear 1s ease forwards;
}
#phone, #working-time{
    text-align: center;
    background-color: #f6673c;
    color: white;
    padding: 5em;
    margin-top: 10%;
}
#phone i, #working-time i{
    font-size: xx-large;
    padding-bottom: 10%;
}
#phone h3, #working-time h3{
    margin: 0;
}