:root{
    --whiteish: #E1E6E1;
    --orange: #F6673C;
    --grey: #292F36;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    font-size: large;
    color: var(--whiteish);
    background-color: var(--grey);
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.footer .icons {
    font-size: x-large;
}
