@import url("navbar.css");
@import url("footer.css");

:root{
    --whiteish: #E1E6E1;
    --orange: #F6673C;
    --grey: #292F36;
    --green: #568EA3;
}

/* STYLE FOR THE LISTED RESTAURANTS */
.body {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:%23f1f2f3;display:block;z-index:1;position:relative" width="1920" height="1080" preserveAspectRatio="xMidYMid" viewBox="0 0 1920 1080"><g transform="translate(960,540) scale(1,1) translate(-960,-540)"><linearGradient id="lg-0.218138959239619" x1="0" x2="0.5" y1="0" y2="0" gradientUnits="objectBoundingBox"><stop stop-color="%23ffb650" offset="0"></stop><stop stop-color="%23f6673c" offset="1"></stop></linearGradient><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="0s" values="M -1172.1586713657903 1080.0000000000002Q -1123.8645974717901 856.4466614198712 -1066.7959196559086 629.8258755215401T -757.8879619351123 210.33037367837198T -266.48636502753607 -149.89858032798838T 373.9206643171035 -426.31197858849987T 1119.6904453716272 -600.0727048064484T 1919.9999999999995 -659.3392526432569T 2720.3095546283716 -600.0727048064487T 3466.079335682893 -426.311978588501T 4106.486365027535 -149.89858032798884T 4597.887961935112 210.3303736783721T 4906.795919655909 629.8258755215402T 5012.158671365791 1079.9999999999995;M -1172.1586713657903 1080.0000000000002Q -1112.1185784072304 857.1734593286443 -1066.7959196559086 629.8258755215401T -757.8879619351123 210.33037367837198T -266.48636502753607 -149.89858032798838T 373.9206643171035 -426.31197858849987T 1119.6904453716272 -600.0727048064484T 1919.9999999999995 -659.3392526432569T 2720.3095546283716 -600.0727048064487T 3466.079335682893 -426.311978588501T 4106.486365027535 -149.89858032798884T 4597.887961935112 210.3303736783721T 4906.795919655909 629.8258755215402T 5012.158671365791 1079.9999999999995;M -1172.1586713657903 1080.0000000000002Q -1126.1260795653398 854.3214032427668 -1066.7959196559086 629.8258755215401T -757.8879619351123 210.33037367837198T -266.48636502753607 -149.89858032798838T 373.9206643171035 -426.31197858849987T 1119.6904453716272 -600.0727048064484T 1919.9999999999995 -659.3392526432569T 2720.3095546283716 -600.0727048064487T 3466.079335682893 -426.311978588501T 4106.486365027535 -149.89858032798884T 4597.887961935112 210.3303736783721T 4906.795919655909 629.8258755215402T 5012.158671365791 1079.9999999999995;M -1172.1586713657903 1080.0000000000002Q -1123.8645974717901 856.4466614198712 -1066.7959196559086 629.8258755215401T -757.8879619351123 210.33037367837198T -266.48636502753607 -149.89858032798838T 373.9206643171035 -426.31197858849987T 1119.6904453716272 -600.0727048064484T 1919.9999999999995 -659.3392526432569T 2720.3095546283716 -600.0727048064487T 3466.079335682893 -426.311978588501T 4106.486365027535 -149.89858032798884T 4597.887961935112 210.3303736783721T 4906.795919655909 629.8258755215402T 5012.158671365791 1079.9999999999995"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-0.3333333333333333s" values="M -966.014759941404 1080.0000000000002Q -884.6001554355612 869.8328528040267 -867.6761916788478 659.8374838201041T -579.3620978061049 268.30834876648055T -120.72060735903324 -67.90534163945586T 476.99262002929663 -325.8911800159333T 1173.0444156801855 -488.06785781935196T 1919.9999999999995 -543.3833024670398T 2666.9555843198136 -488.0678578193522T 3363.0073799707 -325.8911800159342T 3960.7206073590323 -67.90534163945631T 4419.362097806104 268.30834876648066T 4707.676191678847 659.8374838201042T 4806.014759941404 1079.9999999999995;M -966.014759941404 1080.0000000000002Q -923.2027593104931 871.348747475051 -867.6761916788478 659.8374838201041T -579.3620978061049 268.30834876648055T -120.72060735903324 -67.90534163945586T 476.99262002929663 -325.8911800159333T 1173.0444156801855 -488.06785781935196T 1919.9999999999995 -543.3833024670398T 2666.9555843198136 -488.0678578193522T 3363.0073799707 -325.8911800159342T 3960.7206073590323 -67.90534163945631T 4419.362097806104 268.30834876648066T 4707.676191678847 659.8374838201042T 4806.014759941404 1079.9999999999995;M -966.014759941404 1080.0000000000002Q -899.0266759194924 872.6200701965727 -867.6761916788478 659.8374838201041T -579.3620978061049 268.30834876648055T -120.72060735903324 -67.90534163945586T 476.99262002929663 -325.8911800159333T 1173.0444156801855 -488.06785781935196T 1919.9999999999995 -543.3833024670398T 2666.9555843198136 -488.0678578193522T 3363.0073799707 -325.8911800159342T 3960.7206073590323 -67.90534163945631T 4419.362097806104 268.30834876648066T 4707.676191678847 659.8374838201042T 4806.014759941404 1079.9999999999995;M -966.014759941404 1080.0000000000002Q -884.6001554355612 869.8328528040267 -867.6761916788478 659.8374838201041T -579.3620978061049 268.30834876648055T -120.72060735903324 -67.90534163945586T 476.99262002929663 -325.8911800159333T 1173.0444156801855 -488.06785781935196T 1919.9999999999995 -543.3833024670398T 2666.9555843198136 -488.0678578193522T 3363.0073799707 -325.8911800159342T 3960.7206073590323 -67.90534163945631T 4419.362097806104 268.30834876648066T 4707.676191678847 659.8374838201042T 4806.014759941404 1079.9999999999995"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-0.6666666666666666s" values="M -759.8708485170182 1080.0000000000002Q -685.8334826336541 870.2841619205713 -651.3172493464003 655.3086377864004T -334.45081884623687 265.0232440025626T 165.05780926157126 -59.23757986375563T 806.7414166199267 -291.20415031627977T 1538.6146136000089 -412.0839153752588T 2301.3853863999902 -412.08391537525904T 3033.258583380072 -291.20415031627977T 3674.9421907384294 -59.23757986375563T 4174.450818846237 265.0232440025627T 4491.3172493464 655.3086377863998T 4599.870848517018 1079.9999999999995;M -759.8708485170182 1080.0000000000002Q -672.6052681042288 870.2989899970943 -651.3172493464003 655.3086377864004T -334.45081884623687 265.0232440025626T 165.05780926157126 -59.23757986375563T 806.7414166199267 -291.20415031627977T 1538.6146136000089 -412.0839153752588T 2301.3853863999902 -412.08391537525904T 3033.258583380072 -291.20415031627977T 3674.9421907384294 -59.23757986375563T 4174.450818846237 265.0232440025627T 4491.3172493464 655.3086377863998T 4599.870848517018 1079.9999999999995;M -759.8708485170182 1080.0000000000002Q -683.9050619675613 870.4032173634578 -651.3172493464003 655.3086377864004T -334.45081884623687 265.0232440025626T 165.05780926157126 -59.23757986375563T 806.7414166199267 -291.20415031627977T 1538.6146136000089 -412.0839153752588T 2301.3853863999902 -412.08391537525904T 3033.258583380072 -291.20415031627977T 3674.9421907384294 -59.23757986375563T 4174.450818846237 265.0232440025627T 4491.3172493464 655.3086377863998T 4599.870848517018 1079.9999999999995;M -759.8708485170182 1080.0000000000002Q -685.8334826336541 870.2841619205713 -651.3172493464003 655.3086377864004T -334.45081884623687 265.0232440025626T 165.05780926157126 -59.23757986375563T 806.7414166199267 -291.20415031627977T 1538.6146136000089 -412.0839153752588T 2301.3853863999902 -412.08391537525904T 3033.258583380072 -291.20415031627977T 3674.9421907384294 -59.23757986375563T 4174.450818846237 265.0232440025627T 4491.3172493464 655.3086377863998T 4599.870848517018 1079.9999999999995"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-1s" values="M -553.7269370926319 1080.0000000000002Q -488.5018155970074 863.994960025424 -432.6541230567991 650.011689559851T -81.28713155102605 262.1136308503054T 465.9797881783202 -45.72401149745201T 1155.57633699529 -243.36794421944956T 1919.9999999999995 -311.47140211460555T 2684.4236630047094 -243.36794421944956T 3374.020211821679 -45.72401149745224T 3921.2871315510256 262.11363085030496T 4272.654123056799 650.0116895598503T 4393.7269370926315 1079.9999999999998;M -553.7269370926319 1080.0000000000002Q -521.3799551329257 864.7348653217375 -432.6541230567991 650.011689559851T -81.28713155102605 262.1136308503054T 465.9797881783202 -45.72401149745201T 1155.57633699529 -243.36794421944956T 1919.9999999999995 -311.47140211460555T 2684.4236630047094 -243.36794421944956T 3374.020211821679 -45.72401149745224T 3921.2871315510256 262.11363085030496T 4272.654123056799 650.0116895598503T 4393.7269370926315 1079.9999999999998;M -553.7269370926319 1080.0000000000002Q -492.1582098318768 863.1877593644515 -432.6541230567991 650.011689559851T -81.28713155102605 262.1136308503054T 465.9797881783202 -45.72401149745201T 1155.57633699529 -243.36794421944956T 1919.9999999999995 -311.47140211460555T 2684.4236630047094 -243.36794421944956T 3374.020211821679 -45.72401149745224T 3921.2871315510256 262.11363085030496T 4272.654123056799 650.0116895598503T 4393.7269370926315 1079.9999999999998;M -553.7269370926319 1080.0000000000002Q -488.5018155970074 863.994960025424 -432.6541230567991 650.011689559851T -81.28713155102605 262.1136308503054T 465.9797881783202 -45.72401149745201T 1155.57633699529 -243.36794421944956T 1919.9999999999995 -311.47140211460555T 2684.4236630047094 -243.36794421944956T 3374.020211821679 -45.72401149745224T 3921.2871315510256 262.11363085030496T 4272.654123056799 650.0116895598503T 4393.7269370926315 1079.9999999999998"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-1.3333333333333333s" values="M -347.58302566824614 1080.0000000000002Q -272.1359724596764 858.5766585211736 -210.83103623983425 643.7480223139273T 182.93062387592113 260.11447153027746T 786.208487165876 -24.628784298233313T 1526.2383398842449 -176.13750615579534T 2313.7616601157542 -176.13750615579556T 3053.7915128341215 -24.628784298233995T 3657.069376124078 260.114471530277T 4050.8310362398342 643.7480223139274T 4187.583025668246 1079.9999999999998;M -347.58302566824614 1080.0000000000002Q -286.67975544040064 863.3771269248208 -210.83103623983425 643.7480223139273T 182.93062387592113 260.11447153027746T 786.208487165876 -24.628784298233313T 1526.2383398842449 -176.13750615579534T 2313.7616601157542 -176.13750615579556T 3053.7915128341215 -24.628784298233995T 3657.069376124078 260.114471530277T 4050.8310362398342 643.7480223139274T 4187.583025668246 1079.9999999999998;M -347.58302566824614 1080.0000000000002Q -280.46387036695296 864.160898805845 -210.83103623983425 643.7480223139273T 182.93062387592113 260.11447153027746T 786.208487165876 -24.628784298233313T 1526.2383398842449 -176.13750615579534T 2313.7616601157542 -176.13750615579556T 3053.7915128341215 -24.628784298233995T 3657.069376124078 260.114471530277T 4050.8310362398342 643.7480223139274T 4187.583025668246 1079.9999999999998;M -347.58302566824614 1080.0000000000002Q -272.1359724596764 858.5766585211736 -210.83103623983425 643.7480223139273T 182.93062387592113 260.11447153027746T 786.208487165876 -24.628784298233313T 1526.2383398842449 -176.13750615579534T 2313.7616601157542 -176.13750615579556T 3053.7915128341215 -24.628784298233995T 3657.069376124078 260.114471530277T 4050.8310362398342 643.7480223139274T 4187.583025668246 1079.9999999999998"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-1.6666666666666667s" values="M -141.43911424385988 1080.0000000000002Q -85.15536184627467 859.9649397521174 15.478594831901546 636.255789834099T 462.34242331497626 260.0676131146744T 1131.1214041495082 8.70670959294489T 1919.9999999999995 -79.5595017621713T 2708.8785958504914 8.706709592944662T 3377.657576685023 260.06761311467415T 3824.5214051680978 636.2557898340982T 3981.43911424386 1079.9999999999998;M -141.43911424385988 1080.0000000000002Q -76.54153257407711 855.5302582728818 15.478594831901546 636.255789834099T 462.34242331497626 260.0676131146744T 1131.1214041495082 8.70670959294489T 1919.9999999999995 -79.5595017621713T 2708.8785958504914 8.706709592944662T 3377.657576685023 260.06761311467415T 3824.5214051680978 636.2557898340982T 3981.43911424386 1079.9999999999998;M -141.43911424385988 1080.0000000000002Q -73.8060490652274 854.0332761441466 15.478594831901546 636.255789834099T 462.34242331497626 260.0676131146744T 1131.1214041495082 8.70670959294489T 1919.9999999999995 -79.5595017621713T 2708.8785958504914 8.706709592944662T 3377.657576685023 260.06761311467415T 3824.5214051680978 636.2557898340982T 3981.43911424386 1079.9999999999998;M -141.43911424385988 1080.0000000000002Q -85.15536184627467 859.9649397521174 15.478594831901546 636.255789834099T 462.34242331497626 260.0676131146744T 1131.1214041495082 8.70670959294489T 1919.9999999999995 -79.5595017621713T 2708.8785958504914 8.706709592944662T 3377.657576685023 260.06761311467415T 3824.5214051680978 636.2557898340982T 3981.43911424386 1079.9999999999998"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-2s" values="M 64.70479718052593 1080.0000000000002Q 109.9945519624157 880.2126764300501 205.9307353487111 680.6302108506891T 608.1081809834786 342.0608518032069T 1210.0092637345572 115.83603863365033T 1919.9999999999998 36.396448414045835T 2629.990736265442 115.83603863365022T 3231.891819016521 342.0608518032067T 3634.069264651288 680.6302108506884T 3775.295202819474 1079.9999999999998;M 64.70479718052593 1080.0000000000002Q 107.43867371070883 878.1254418299296 205.9307353487111 680.6302108506891T 608.1081809834786 342.0608518032069T 1210.0092637345572 115.83603863365033T 1919.9999999999998 36.396448414045835T 2629.990736265442 115.83603863365022T 3231.891819016521 342.0608518032067T 3634.069264651288 680.6302108506884T 3775.295202819474 1079.9999999999998;M 64.70479718052593 1080.0000000000002Q 150.4426636327962 876.6108433504148 205.9307353487111 680.6302108506891T 608.1081809834786 342.0608518032069T 1210.0092637345572 115.83603863365033T 1919.9999999999998 36.396448414045835T 2629.990736265442 115.83603863365022T 3231.891819016521 342.0608518032067T 3634.069264651288 680.6302108506884T 3775.295202819474 1079.9999999999998;M 64.70479718052593 1080.0000000000002Q 109.9945519624157 880.2126764300501 205.9307353487111 680.6302108506891T 608.1081809834786 342.0608518032069T 1210.0092637345572 115.83603863365033T 1919.9999999999998 36.396448414045835T 2629.990736265442 115.83603863365022T 3231.891819016521 342.0608518032067T 3634.069264651288 680.6302108506884T 3775.295202819474 1079.9999999999998"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-2.3333333333333335s" values="M 270.84870860491196 1080Q 339.0587096550846 877.0318577285589 434.16602799195493 677.5087901169093T 891.7709880930017 354.73590058191337T 1553.0293144035027 175.6104607171286T 2286.970685596497 175.6104607171286T 2948.2290119069976 354.73590058191314T 3405.833972008045 677.5087901169089T 3569.1512913950883 1079.9999999999998;M 270.84870860491196 1080Q 361.179823775494 876.6411295855538 434.16602799195493 677.5087901169093T 891.7709880930017 354.73590058191337T 1553.0293144035027 175.6104607171286T 2286.970685596497 175.6104607171286T 2948.2290119069976 354.73590058191314T 3405.833972008045 677.5087901169089T 3569.1512913950883 1079.9999999999998;M 270.84870860491196 1080Q 353.4433022015619 880.1605615206206 434.16602799195493 677.5087901169093T 891.7709880930017 354.73590058191337T 1553.0293144035027 175.6104607171286T 2286.970685596497 175.6104607171286T 2948.2290119069976 354.73590058191314T 3405.833972008045 677.5087901169089T 3569.1512913950883 1079.9999999999998;M 270.84870860491196 1080Q 339.0587096550846 877.0318577285589 434.16602799195493 677.5087901169093T 891.7709880930017 354.73590058191337T 1553.0293144035027 175.6104607171286T 2286.970685596497 175.6104607171286T 2948.2290119069976 354.73590058191314T 3405.833972008045 677.5087901169089T 3569.1512913950883 1079.9999999999998"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-2.6666666666666665s" values="M 476.992620029298 1080Q 542.8036150520204 878.0105581348471 670.3189510969476 674.1541743832403T 1198.4963100146483 377.05440999203336T 1919.9999999999998 268.3083487664801T 2641.5036899853503 377.0544099920329T 3169.681048903052 674.1541743832404T 3363.007379970702 1079.9999999999998;M 476.992620029298 1080Q 558.9673529935023 874.2286450860022 670.3189510969476 674.1541743832403T 1198.4963100146483 377.05440999203336T 1919.9999999999998 268.3083487664801T 2641.5036899853503 377.0544099920329T 3169.681048903052 674.1541743832404T 3363.007379970702 1079.9999999999998;M 476.992620029298 1080Q 567.4767218238685 873.8927611032545 670.3189510969476 674.1541743832403T 1198.4963100146483 377.05440999203336T 1919.9999999999998 268.3083487664801T 2641.5036899853503 377.0544099920329T 3169.681048903052 674.1541743832404T 3363.007379970702 1079.9999999999998;M 476.992620029298 1080Q 542.8036150520204 878.0105581348471 670.3189510969476 674.1541743832403T 1198.4963100146483 377.05440999203336T 1919.9999999999998 268.3083487664801T 2641.5036899853503 377.0544099920329T 3169.681048903052 674.1541743832404T 3363.007379970702 1079.9999999999998"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-3s" values="M 683.136531453684 1080Q 745.4617126665075 873.6906530653583 919.356434224487 671.0568154251528T 1537.788168497645 418.3160278902752T 2302.2118315023545 418.3160278902752T 2920.643565775513 671.0568154251525T 3156.8634685463157 1079.9999999999998;M 683.136531453684 1080Q 745.9772034725522 868.135234951066 919.356434224487 671.0568154251528T 1537.788168497645 418.3160278902752T 2302.2118315023545 418.3160278902752T 2920.643565775513 671.0568154251525T 3156.8634685463157 1079.9999999999998;M 683.136531453684 1080Q 773.4992565793359 866.454142895748 919.356434224487 671.0568154251528T 1537.788168497645 418.3160278902752T 2302.2118315023545 418.3160278902752T 2920.643565775513 671.0568154251525T 3156.8634685463157 1079.9999999999998;M 683.136531453684 1080Q 745.4617126665075 873.6906530653583 919.356434224487 671.0568154251528T 1537.788168497645 418.3160278902752T 2302.2118315023545 418.3160278902752T 2920.643565775513 671.0568154251525T 3156.8634685463157 1079.9999999999998"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-3.3333333333333335s" values="M 889.2804428780701 1080Q 983.1062557339035 863.1735884618681 1191.1712116574881 670.0338065573371T 1919.9999999999998 500.22024911891435T 2648.8287883425114 670.0338065573371T 2950.71955712193 1079.9999999999998;M 889.2804428780701 1080Q 1019.3534228048765 864.6948154205711 1191.1712116574881 670.0338065573371T 1919.9999999999998 500.22024911891435T 2648.8287883425114 670.0338065573371T 2950.71955712193 1079.9999999999998;M 889.2804428780701 1080Q 1003.9684118661743 869.557182420806 1191.1712116574881 670.0338065573371T 1919.9999999999998 500.22024911891435T 2648.8287883425114 670.0338065573371T 2950.71955712193 1079.9999999999998;M 889.2804428780701 1080Q 983.1062557339035 863.1735884618681 1191.1712116574881 670.0338065573371T 1919.9999999999998 500.22024911891435T 2648.8287883425114 670.0338065573371T 2950.71955712193 1079.9999999999998"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-3.6666666666666665s" values="M 1095.4243543024559 1080Q 1199.8843528819996 913.4205460812458 1336.9369693259905 752.0270452458697T 1919.9999999999998 616.1761992951315T 2503.0630306740095 752.0270452458697T 2744.575645697544 1080;M 1095.4243543024559 1080Q 1170.9167580562182 907.43452525078 1336.9369693259905 752.0270452458697T 1919.9999999999998 616.1761992951315T 2503.0630306740095 752.0270452458697T 2744.575645697544 1080;M 1095.4243543024559 1080Q 1167.9451298625218 905.8032432671085 1336.9369693259905 752.0270452458697T 1919.9999999999998 616.1761992951315T 2503.0630306740095 752.0270452458697T 2744.575645697544 1080;M 1095.4243543024559 1080Q 1199.8843528819996 913.4205460812458 1336.9369693259905 752.0270452458697T 1919.9999999999998 616.1761992951315T 2503.0630306740095 752.0270452458697T 2744.575645697544 1080"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-4s" values="M 1301.5682657268421 1080Q 1426.0519371726548 906.6255169110453 1610.7841328634208 778.7376042823T 2229.2158671365787 778.7376042822998T 2538.431734273158 1080;M 1301.5682657268421 1080Q 1410.1532546692074 912.3461591129837 1610.7841328634208 778.7376042823T 2229.2158671365787 778.7376042822998T 2538.431734273158 1080;M 1301.5682657268421 1080Q 1392.7744713220775 913.5835891958377 1610.7841328634208 778.7376042823T 2229.2158671365787 778.7376042822998T 2538.431734273158 1080;M 1301.5682657268421 1080Q 1426.0519371726548 906.6255169110453 1610.7841328634208 778.7376042823T 2229.2158671365787 778.7376042822998T 2538.431734273158 1080"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-4.333333333333333s" values="M 1507.712177151228 1080Q 1658.896159193698 924.7534029482983 1920 848.0880996475657T 2332.287822848772 1080;M 1507.712177151228 1080Q 1649.981210524592 928.1205096151253 1920 848.0880996475657T 2332.287822848772 1080;M 1507.712177151228 1080Q 1647.4363237443845 939.0859393153582 1920 848.0880996475657T 2332.287822848772 1080;M 1507.712177151228 1080Q 1658.896159193698 924.7534029482983 1920 848.0880996475657T 2332.287822848772 1080"></animate></path><path d="" fill="url(%23lg-0.218138959239619)" opacity="1"><animate attributeName="d" dur="5s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1" calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-4.666666666666667s" values="M 1713.856088575614 1080Q 1920 975.9349636370935 2126.143911424386 1080;M 1713.856088575614 1080Q 1920 966.7614000883715 2126.143911424386 1080;M 1713.856088575614 1080Q 1920 980.6128094416565 2126.143911424386 1080;M 1713.856088575614 1080Q 1920 975.9349636370935 2126.143911424386 1080"></animate></path></g></svg>');
    background-size: cover;
}

.all h1,
h2,
.filter {
    margin: 10px;
    text-align: center;
}

.item-shell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 100px auto;
}

.item {
    flex: 1 1 25em;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border: 2px solid rgba(100, 100, 100, 0.3);
    border-radius: 1em;
    background-color: rgba(100, 100, 100, 0.3);
    transition: border-color, background-color 0.5s ease;
}

.item:hover {
    border: 2px solid rgba(246, 103, 60, 0.3);
    background-color: rgba(246, 103, 60, 0.3);
    cursor: pointer;
}

.image img {
    display: block;
    margin: auto;
    width: 50%;
    aspect-ratio: 4/3;
    /* object-fit: contain; */
    border-radius: 8px;
}

.no-margin {
    margin: 0;
}

.padding-sm {
    padding: 0.2em;
}

.center-text {
    text-align: center;
}

.new-line {
    word-wrap: break-word;
}

#favourite {
    padding: 3%;
    background-color: transparent;
    border: none;
}

.fa-heart {
    font-size: xx-large;
    cursor: default;
    color: red;
}

.filter {
    color: #333;
    font-size: x-large;
}

.filter form input {
    background-color: #f6673c;
    color: white;
    opacity: 0.5;
    border: 1px solid #333;
    transition: opacity, color 0.5s ease;
    padding: 0.8em;
    width: 10em;
    outline: 0;
    border-radius: 5px;
}

.filter form input:hover {
    opacity: 1;
    color: black;
}

@media (max-width: 460px) {
    .container * {
        font-size: medium;
    }

    .image-div img {
        width: 100%;
    }

    .products {
        overflow: auto;
    }

    .products table {
        table-layout: fixed;
    }
}

#oblast {
    outline: 0;
    border: 2px solid #f6673c;
    border-radius: 5px;
    box-shadow: 0 0 0 #f6673c;
    transition: box-shadow 500ms ease-in-out;
    appearance: none;
    padding: 10px;
    width: 200px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 2em 1em;
    background-position: right center;
    background-clip: border-box;
    transition: background-image 0.5s ease;
}

#oblast:focus {
    box-shadow: 0 0 6px #f6673c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}



/* STYLE FOR THE CLICKED RESTAURANT */

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.left-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.image-div {
    margin: auto;
}

.image-div img {
    max-width: 100%;
}

.container div img {
    height: 15em;
}

.container div h1 {
    margin-bottom: 5px;
    height: fit-content;
}

#price-div{
    width: fit-content;
    margin: 10px auto auto auto;
    border: 2px solid black;
    border-radius: 16px;
}

.container div p {
    width: 40em;
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.products th {
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
}

.products h2 {
    margin: 0 0 1em 0;
}

.products tr td {
    text-align: center;
}

.products tr td input {
    width: 20%;
    float: left;
}

#float-r .fa-shopping-cart {
    margin: 0;
    padding: 0;
    float: left;
}

#cart {
    position: absolute;
    top: 80px;
    right: 20px;
    display: none;
    width: fit-content;
    background-color: #f6673c;
    text-align: center;
}

#cart table,
#cart th,
#cart td {
    border: 2px solid black;
    border-collapse: collapse;
}

#cart table #cart th,
#cart td,
#cart button {
    padding: 0.5em;
}

#total {
    font-size: 5vw;
}

.new-line p {
    width: 50%;
    margin: auto;
}

.desc-clicked {
    border: 2px solid #333;
    background-color: #333;
    color: #f6673c;
    border-radius: 10px;
    font-size: 25px;
    width: fit-content;
    padding: 10px;
}

[class="add"],
[class="remove"],
#checkout-button,
.bottom form input[type="submit"] {
    background-color: #f6673c;
    color: white;
    border-radius: 1em;
    padding: 5px;
    border-color: #333;
    transition: color, background-color 0.5s ease;
}

[class="add"]:hover,
[class="remove"]:hover,
#checkout-button:hover,
.bottom form input[type="submit"]:hover {
    background-color: white;
    color: #333;
}

.line {
    height: 12px;
    position: relative;
    background-color: #f6673c;
}

.products h1 {
    font-size: 2em;
    text-align: center;
}

.right-div .center-text {
    margin-top: 3%;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50em;
    background-color: #3f3f3f;
}

.bottom form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom form input[type="submit"] {
    margin-top: 10px;
    width: fit-content;
}

.bottom textarea {
    resize: none;
    border: 4px dashed #f6673c;
    padding: 5px;
    outline: none;
    background-color: #d3d3d3;
}

input[type="range"] {
    appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    margin-bottom: 20px;
    transition: opacity 500ms ease;
}

input[type="range"]:hover{
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 0;
    background: url("../restaurant_photos/icon/star.svg") no-repeat;
    background-position: 0px center;
    background-size: 30px;
    cursor: pointer;
}

#indicator{
    font-size: 2em;
    margin-bottom: 10px;
    color: white;
}

.review-form h1{
    margin: 20px;
    color: white;
    text-align: center;
}

.reviews-div{
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    margin: 20px 0 20px 0;
    width: 50%;
    overflow-y: auto;
}

#user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: xx-large;
    margin: 10px;
    gap: 10px;
    border: 2px solid #f6673c;
    padding: 4px;
    border-radius: 16px;
}

#user-info i[class*="fa-user"]{
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
}

#user-info i[class*="fa-star"]{
    text-indent: 10px;
}

#user-info p{
    flex: 1;
}

.reviews-div div[class*="review"]{
    border-bottom: 5px solid #f6673c;
}

.reviews-div div span{
    float: right;
}

.reviews-div > div > p::before{
    content: '🡲 ';
}

.reviews-div > div > p{
    font-size: x-large;
    margin: 10px;
    text-indent: 5px;
    word-break: break-word;
}

.reviews-div #delete-review{
    float: right;
    margin: 0 10px 0 0;
    background-color: #FF2400;
    padding: 8px;
    opacity: 0.7;
    transition: opacity 0.8s ease;
    border-radius: 16px;
    border-color: #f6673c;
}


.reviews-div #delete-review:hover{
    opacity: 1;
}
