@import url("navbar.css");
@import url("footer.css");

:root{
    --whiteish: #E1E6E1;
    --orange: #F6673C;
    --grey: #292F36;
    --green: #568EA3;
}

/* STYLE FOR THE LISTED RESTAURANTS */
.body {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:%23f1f2f3;display:block;z-index:1;position:relative" width="1920" height="1080" preserveAspectRatio="xMidYMid" viewBox="0 0 1920 1080"><g transform="translate(960,540) scale(1,1) translate(-960,-540)"><style type="text/css"> @keyframes ld-speed-dash { 0% { transform: translate(0,-2874.9071700822983px); } 100% { transform: translate(0,2874.9071700822983px); } } .ld.ld-speed-dash { animation: ld-speed-dash 2s linear infinite; } </style><g transform="translate(960,540)"><g style="transform:rotate(230deg)"><line x1="-296.0911241298727" x2="-296.0911241298727" y1="0" y2="-381.07278886044196" stroke="%23292f36" stroke-width="3.9424580091995898" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.5491902996973841s;animation-duration:1s"></line><line x1="70.71774925577529" x2="70.71774925577529" y1="0" y2="-374.0594932261579" stroke="%23292f36" stroke-width="4.857869783422886" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.9016096326627205s;animation-duration:1s"></line><line x1="-829.3165082843454" x2="-829.3165082843454" y1="0" y2="-603.0745242042663" stroke="%23292f36" stroke-width="1.1205339130414071" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.3586391175604189s;animation-duration:1s"></line><line x1="-937.6208629113319" x2="-937.6208629113319" y1="0" y2="-601.5477886526168" stroke="%23f6673c" stroke-width="2.3559305817704623" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.441652006637069s;animation-duration:1s"></line><line x1="794.5773466447588" x2="794.5773466447588" y1="0" y2="-499.7641992092439" stroke="%23292f36" stroke-width="3.892091085155751" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.1784848152627827s;animation-duration:2s"></line><line x1="919.1274220134485" x2="919.1274220134485" y1="0" y2="-450.36099189607773" stroke="%23f6673c" stroke-width="3.7640045302551117" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.7430153638696977s;animation-duration:1s"></line><line x1="552.5091616440623" x2="552.5091616440623" y1="0" y2="-643.1025977362336" stroke="%23292f36" stroke-width="0.1647658304495847" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.07349243236828684s;animation-duration:1s"></line><line x1="145.03717562982473" x2="145.03717562982473" y1="0" y2="-481.12173558389753" stroke="%23f6673c" stroke-width="1.8862357222597637" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.8550466259291385s;animation-duration:2s"></line><line x1="761.9637169855721" x2="761.9637169855721" y1="0" y2="-421.58712414347997" stroke="%23292f36" stroke-width="1.9343072103493286" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.6521430593951294s;animation-duration:1s"></line><line x1="-419.6108296013973" x2="-419.6108296013973" y1="0" y2="-413.4787005183972" stroke="%23f6673c" stroke-width="0.9823018599975408" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.38124163208766726s;animation-duration:2s"></line><line x1="163.7334333011809" x2="163.7334333011809" y1="0" y2="-339.85434280825183" stroke="%23f6673c" stroke-width="2.1637527406630674" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.3809534228764426s;animation-duration:2s"></line><line x1="416.05103848927513" x2="416.05103848927513" y1="0" y2="-651.7795054882198" stroke="%23f6673c" stroke-width="0.36434490446156875" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.06354886202300136s;animation-duration:2s"></line><line x1="-835.8319760169331" x2="-835.8319760169331" y1="0" y2="-601.2735831300404" stroke="%23292f36" stroke-width="4.437862136389263" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.9151499640136351s;animation-duration:1s"></line><line x1="460.4166593507683" x2="460.4166593507683" y1="0" y2="-668.0024562507879" stroke="%23292f36" stroke-width="2.068137026789205" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.857306318595096s;animation-duration:1s"></line><line x1="730.524146329316" x2="730.524146329316" y1="0" y2="-351.1661879491421" stroke="%23f6673c" stroke-width="2.8850419218615517" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.3335717669017573s;animation-duration:1s"></line><line x1="-761.247210304557" x2="-761.247210304557" y1="0" y2="-574.3542756429965" stroke="%23f6673c" stroke-width="3.2201477645453966" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.4657824453181028s;animation-duration:2s"></line><line x1="-716.115536531804" x2="-716.115536531804" y1="0" y2="-504.40979473375387" stroke="%23292f36" stroke-width="2.642519477144709" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.3155771949611994s;animation-duration:1s"></line><line x1="-645.250241155099" x2="-645.250241155099" y1="0" y2="-588.1203109258491" stroke="%23292f36" stroke-width="0.642800243494146" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.38835330491428355s;animation-duration:2s"></line><line x1="-874.3880513924956" x2="-874.3880513924956" y1="0" y2="-526.4550394885831" stroke="%23292f36" stroke-width="1.965078035341793" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.8551564818550141s;animation-duration:1s"></line><line x1="184.4440898004585" x2="184.4440898004585" y1="0" y2="-268.7948313839868" stroke="%23292f36" stroke-width="4.561289162187388" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.094217434249337s;animation-duration:2s"></line><line x1="-97.05645342183615" x2="-97.05645342183615" y1="0" y2="-348.84746446834373" stroke="%23292f36" stroke-width="2.962078878202478" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.3699286528556254s;animation-duration:2s"></line><line x1="626.0207827692232" x2="626.0207827692232" y1="0" y2="-606.064776822505" stroke="%23292f36" stroke-width="3.789409281826206" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.4035364914885027s;animation-duration:1s"></line><line x1="115.73428962671102" x2="115.73428962671102" y1="0" y2="-370.06325543599746" stroke="%23f6673c" stroke-width="0.7065737007786577" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.2707587996923353s;animation-duration:2s"></line><line x1="-644.4698917321092" x2="-644.4698917321092" y1="0" y2="-446.1688506401295" stroke="%23292f36" stroke-width="3.0153889767782163" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.3843921479264467s;animation-duration:1s"></line><line x1="-664.1216958358339" x2="-664.1216958358339" y1="0" y2="-245.55426538602475" stroke="%23292f36" stroke-width="4.118129557806221" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.8577420963289062s;animation-duration:1s"></line><line x1="792.9125171961093" x2="792.9125171961093" y1="0" y2="-337.1622467747634" stroke="%23292f36" stroke-width="0.18407862108972495" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.8285502750194746s;animation-duration:2s"></line><line x1="76.66136562341563" x2="76.66136562341563" y1="0" y2="-480.94703815784544" stroke="%23f6673c" stroke-width="4.414240089536465" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.0865693346890999s;animation-duration:1s"></line><line x1="375.2586034218757" x2="375.2586034218757" y1="0" y2="-381.2408685629881" stroke="%23292f36" stroke-width="4.033553061030982" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.006286813765163s;animation-duration:1s"></line><line x1="472.3002713786509" x2="472.3002713786509" y1="0" y2="-481.4103458675209" stroke="%23f6673c" stroke-width="3.3918246837336263" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.8670398581836691s;animation-duration:2s"></line><line x1="707.3043125936333" x2="707.3043125936333" y1="0" y2="-556.7907263123609" stroke="%23f6673c" stroke-width="1.1303664118100254" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.3448630882206771s;animation-duration:2s"></line><line x1="-597.5631858254467" x2="-597.5631858254467" y1="0" y2="-335.3949867525079" stroke="%23292f36" stroke-width="0.2196433932821329" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.3658589109810708s;animation-duration:2s"></line><line x1="-265.2529910295898" x2="-265.2529910295898" y1="0" y2="-262.5557472708407" stroke="%23f6673c" stroke-width="3.7391965241241456" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.2614612087894592s;animation-duration:1s"></line><line x1="-126.80929911023597" x2="-126.80929911023597" y1="0" y2="-487.03389218686505" stroke="%23f6673c" stroke-width="2.3745367207229395" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.4520582534642101s;animation-duration:1s"></line><line x1="336.63295941614695" x2="336.63295941614695" y1="0" y2="-258.3992363357075" stroke="%23292f36" stroke-width="1.5392141073731214" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.1396413567569783s;animation-duration:1s"></line><line x1="590.6186255201611" x2="590.6186255201611" y1="0" y2="-512.2700313493064" stroke="%23292f36" stroke-width="3.175523148149936" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.3199847729846237s;animation-duration:2s"></line><line x1="454.2273448085308" x2="454.2273448085308" y1="0" y2="-636.1101321426829" stroke="%23f6673c" stroke-width="4.35776684278303" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.5012166733002266s;animation-duration:1s"></line><line x1="729.9793752208161" x2="729.9793752208161" y1="0" y2="-377.5932818297406" stroke="%23f6673c" stroke-width="1.7890248687177779" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.6782043687670725s;animation-duration:2s"></line><line x1="-423.90550976208516" x2="-423.90550976208516" y1="0" y2="-428.27411863585286" stroke="%23f6673c" stroke-width="1.7143299774030507" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.862369765203979s;animation-duration:1s"></line><line x1="-758.6546478188592" x2="-758.6546478188592" y1="0" y2="-353.5923895654419" stroke="%23292f36" stroke-width="4.347616178994141" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.18025163650743448s;animation-duration:1s"></line><line x1="833.799187300124" x2="833.799187300124" y1="0" y2="-578.0394726006534" stroke="%23292f36" stroke-width="3.89761978121816" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.3436337773422893s;animation-duration:2s"></line><line x1="-204.82737080340513" x2="-204.82737080340513" y1="0" y2="-235.9519072966114" stroke="%23292f36" stroke-width="2.2862219968888695" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.4288074069878327s;animation-duration:1s"></line><line x1="735.1783227736653" x2="735.1783227736653" y1="0" y2="-471.04763063418943" stroke="%23f6673c" stroke-width="0.038333812581827775" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.2421198622776788s;animation-duration:1s"></line><line x1="295.95246248656906" x2="295.95246248656906" y1="0" y2="-488.85136923061486" stroke="%23f6673c" stroke-width="0.03128243782930862" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.12996037827925822s;animation-duration:2s"></line><line x1="311.9232707073338" x2="311.9232707073338" y1="0" y2="-648.7307374794821" stroke="%23292f36" stroke-width="3.9157030416735052" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.18662697210568835s;animation-duration:1s"></line><line x1="274.5655420125594" x2="274.5655420125594" y1="0" y2="-594.2290767438478" stroke="%23f6673c" stroke-width="0.16977159931658603" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.1754714323441s;animation-duration:1s"></line><line x1="167.13065169014328" x2="167.13065169014328" y1="0" y2="-383.78025968674774" stroke="%23f6673c" stroke-width="3.640452200529818" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.7669609048804635s;animation-duration:1s"></line><line x1="252.72672517403322" x2="252.72672517403322" y1="0" y2="-349.65699388125523" stroke="%23292f36" stroke-width="2.290066184715779" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.35137602411417035s;animation-duration:2s"></line><line x1="-614.2263540054844" x2="-614.2263540054844" y1="0" y2="-268.3892522200947" stroke="%23f6673c" stroke-width="4.988581523771936" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.5107184214251417s;animation-duration:2s"></line><line x1="272.10236074603813" x2="272.10236074603813" y1="0" y2="-277.5384206004568" stroke="%23292f36" stroke-width="2.2047167858633534" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.8191613074988893s;animation-duration:2s"></line><line x1="-798.619759365911" x2="-798.619759365911" y1="0" y2="-500.6066711560728" stroke="%23f6673c" stroke-width="4.854102902068038" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.12094701102397343s;animation-duration:1s"></line><line x1="728.5267767028415" x2="728.5267767028415" y1="0" y2="-483.6310429758154" stroke="%23292f36" stroke-width="2.4458360848118845" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.096905018857214s;animation-duration:2s"></line><line x1="69.46284767227809" x2="69.46284767227809" y1="0" y2="-432.5330539083011" stroke="%23292f36" stroke-width="4.095846323172591" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.7389924320872945s;animation-duration:1s"></line><line x1="253.28933826922736" x2="253.28933826922736" y1="0" y2="-532.0257393179171" stroke="%23f6673c" stroke-width="3.003387184223296" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.837566450180672s;animation-duration:2s"></line><line x1="266.4919070055191" x2="266.4919070055191" y1="0" y2="-489.99634714155536" stroke="%23292f36" stroke-width="3.3796599890030574" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.1973721121312053s;animation-duration:1s"></line><line x1="-830.2200580013714" x2="-830.2200580013714" y1="0" y2="-295.7670564613165" stroke="%23292f36" stroke-width="1.0673272999680783" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.9189558621838616s;animation-duration:2s"></line><line x1="-113.49627784170892" x2="-113.49627784170892" y1="0" y2="-624.9854802927388" stroke="%23292f36" stroke-width="2.1175259220360934" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.2685295611061074s;animation-duration:2s"></line><line x1="-810.3718388889557" x2="-810.3718388889557" y1="0" y2="-606.3076140965122" stroke="%23292f36" stroke-width="0.8391886342956012" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.1700365970887523s;animation-duration:1s"></line><line x1="686.3820587563621" x2="686.3820587563621" y1="0" y2="-372.2225713671286" stroke="%23292f36" stroke-width="1.6950082344050343" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.4499521418194514s;animation-duration:1s"></line><line x1="197.3803396138429" x2="197.3803396138429" y1="0" y2="-367.72929360242574" stroke="%23f6673c" stroke-width="2.5142468682591037" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.8328002484117256s;animation-duration:2s"></line><line x1="-721.6822204236537" x2="-721.6822204236537" y1="0" y2="-534.676145077493" stroke="%23292f36" stroke-width="2.6662606781542717" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.728248708012337s;animation-duration:1s"></line><line x1="716.3558874922348" x2="716.3558874922348" y1="0" y2="-306.9684985523253" stroke="%23292f36" stroke-width="3.341497354624919" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.6308845031135384s;animation-duration:2s"></line><line x1="-281.0925378826991" x2="-281.0925378826991" y1="0" y2="-384.29152592833884" stroke="%23292f36" stroke-width="0.7468456640207033" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.8693878807522228s;animation-duration:1s"></line><line x1="517.5618037825393" x2="517.5618037825393" y1="0" y2="-582.5836013154025" stroke="%23f6673c" stroke-width="0.5091911912283409" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.969025355061155s;animation-duration:1s"></line><line x1="809.6719926358621" x2="809.6719926358621" y1="0" y2="-340.21254685927585" stroke="%23f6673c" stroke-width="4.369010616338279" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.01427531234608903s;animation-duration:1s"></line><line x1="-804.4252865015408" x2="-804.4252865015408" y1="0" y2="-414.10466599356005" stroke="%23292f36" stroke-width="1.4580834853193314" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.8317679700753771s;animation-duration:2s"></line><line x1="-957.7469260822477" x2="-957.7469260822477" y1="0" y2="-300.4219405234821" stroke="%23292f36" stroke-width="3.1436363454444614" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.0851323682445626s;animation-duration:1s"></line><line x1="-255.4604857554456" x2="-255.4604857554456" y1="0" y2="-211.59127227613743" stroke="%23292f36" stroke-width="1.7152971036558096" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.36768984461797727s;animation-duration:2s"></line><line x1="-498.03555917860433" x2="-498.03555917860433" y1="0" y2="-524.8253965083345" stroke="%23f6673c" stroke-width="1.2649904491046626" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.0229399171721787s;animation-duration:2s"></line><line x1="-759.3035634850736" x2="-759.3035634850736" y1="0" y2="-558.1515150157959" stroke="%23292f36" stroke-width="3.708208396018007" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.4031209176863908s;animation-duration:1s"></line><line x1="-287.3953577079226" x2="-287.3953577079226" y1="0" y2="-562.9997999581168" stroke="%23f6673c" stroke-width="2.0662444590655604" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.6355679658843512s;animation-duration:1s"></line><line x1="-69.93511057897194" x2="-69.93511057897194" y1="0" y2="-511.3482937897437" stroke="%23292f36" stroke-width="0.16474773309033353" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.5341176369209535s;animation-duration:1s"></line><line x1="305.77814835875074" x2="305.77814835875074" y1="0" y2="-561.2429890646642" stroke="%23f6673c" stroke-width="1.4443130182378516" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.9100447446429571s;animation-duration:1s"></line><line x1="789.638696017364" x2="789.638696017364" y1="0" y2="-663.7711557916437" stroke="%23f6673c" stroke-width="4.255738731459572" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.6301073147824638s;animation-duration:2s"></line><line x1="-535.5917093723883" x2="-535.5917093723883" y1="0" y2="-631.2284465584464" stroke="%23292f36" stroke-width="1.0659121821332629" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.2145533666216366s;animation-duration:1s"></line><line x1="487.8268895186916" x2="487.8268895186916" y1="0" y2="-609.3175285212844" stroke="%23f6673c" stroke-width="1.7832870894108677" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.142808827791534s;animation-duration:1s"></line><line x1="-649.0525235081618" x2="-649.0525235081618" y1="0" y2="-309.3034845549103" stroke="%23f6673c" stroke-width="1.9211444017730772" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.589137474800594s;animation-duration:2s"></line><line x1="443.28526743755845" x2="443.28526743755845" y1="0" y2="-606.0424674802556" stroke="%23292f36" stroke-width="3.771355540662227" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.4047164904738136s;animation-duration:2s"></line><line x1="-14.41289004261975" x2="-14.41289004261975" y1="0" y2="-544.0127004070418" stroke="%23292f36" stroke-width="0.7969271703440672" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.73481039121781s;animation-duration:2s"></line><line x1="-738.6493782629101" x2="-738.6493782629101" y1="0" y2="-371.0927901998656" stroke="%23292f36" stroke-width="1.5052444094080852" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.395768650294003s;animation-duration:1s"></line><line x1="-715.4048617768648" x2="-715.4048617768648" y1="0" y2="-273.3922802619463" stroke="%23292f36" stroke-width="1.7226382060372403" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.9549399343779221s;animation-duration:2s"></line><line x1="838.0412430684917" x2="838.0412430684917" y1="0" y2="-368.88549644128955" stroke="%23292f36" stroke-width="1.5547883474330282" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.8829279399126788s;animation-duration:1s"></line><line x1="-22.627590377498308" x2="-22.627590377498308" y1="0" y2="-470.1348613104938" stroke="%23f6673c" stroke-width="3.3079148874185127" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.6479670029001516s;animation-duration:1s"></line><line x1="23.235991443235662" x2="23.235991443235662" y1="0" y2="-325.9810345150935" stroke="%23f6673c" stroke-width="1.1599981762429323" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.11327585389183836s;animation-duration:2s"></line><line x1="-902.8257697850872" x2="-902.8257697850872" y1="0" y2="-511.0714672480068" stroke="%23f6673c" stroke-width="1.3152652580475555" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.5529467139617399s;animation-duration:1s"></line><line x1="-882.8974116065693" x2="-882.8974116065693" y1="0" y2="-319.9511023625041" stroke="%23292f36" stroke-width="4.764467919109231" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.1313835715768894s;animation-duration:2s"></line><line x1="-543.8056597279417" x2="-543.8056597279417" y1="0" y2="-192.2448727282987" stroke="%23f6673c" stroke-width="0.9305501565860952" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.1845672330709509s;animation-duration:2s"></line><line x1="433.2662607788375" x2="433.2662607788375" y1="0" y2="-234.7671727210859" stroke="%23f6673c" stroke-width="2.1400414467855255" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.409017682448245s;animation-duration:2s"></line><line x1="-728.5767452051374" x2="-728.5767452051374" y1="0" y2="-281.8710846232407" stroke="%23292f36" stroke-width="4.8790239006765415" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.0609585587406007s;animation-duration:1s"></line><line x1="103.49164602060767" x2="103.49164602060767" y1="0" y2="-425.4836153595986" stroke="%23292f36" stroke-width="1.3004325047924659" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.909953148792245s;animation-duration:1s"></line><line x1="487.32934284761814" x2="487.32934284761814" y1="0" y2="-600.0235486590952" stroke="%23f6673c" stroke-width="3.9001982632031695" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.20155912950166677s;animation-duration:2s"></line><line x1="-22.19670699673202" x2="-22.19670699673202" y1="0" y2="-597.8716678041958" stroke="%23f6673c" stroke-width="0.02890148207239651" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.6637342442788627s;animation-duration:1s"></line><line x1="-225.99732801059005" x2="-225.99732801059005" y1="0" y2="-445.73346417920146" stroke="%23292f36" stroke-width="4.328366655557305" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.1408974195351322s;animation-duration:2s"></line><line x1="133.3031703675421" x2="133.3031703675421" y1="0" y2="-282.70292201862367" stroke="%23292f36" stroke-width="0.5404798551678025" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.1033144653771223s;animation-duration:2s"></line><line x1="-612.471286901627" x2="-612.471286901627" y1="0" y2="-472.05979988787624" stroke="%23f6673c" stroke-width="2.6205439798700314" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.19006416034968066s;animation-duration:2s"></line><line x1="778.4744442630081" x2="778.4744442630081" y1="0" y2="-467.6008675695374" stroke="%23f6673c" stroke-width="1.918021494098221" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.26495724752172567s;animation-duration:1s"></line><line x1="12.200958493517504" x2="12.200958493517504" y1="0" y2="-319.10697711067934" stroke="%23292f36" stroke-width="2.3476420211341464" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.1875458572793334s;animation-duration:1s"></line><line x1="640.2114604785357" x2="640.2114604785357" y1="0" y2="-215.82355222253736" stroke="%23292f36" stroke-width="3.14165739620878" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -1.6550776598259853s;animation-duration:1s"></line><line x1="-797.2419042402473" x2="-797.2419042402473" y1="0" y2="-472.493044607962" stroke="%23292f36" stroke-width="4.764106543221071" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.5288687366915683s;animation-duration:2s"></line><line x1="-558.22910602823" x2="-558.22910602823" y1="0" y2="-306.81260154474387" stroke="%23f6673c" stroke-width="2.6214912873009286" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.3599876310894654s;animation-duration:1s"></line><line x1="-955.5723182941447" x2="-955.5723182941447" y1="0" y2="-529.3129446809737" stroke="%23f6673c" stroke-width="4.066537849774972" stroke-linecap="round" class="ld ld-speed-dash" style="animation-delay: -0.6564628087610447s;animation-duration:2s"></line></g></g></g></svg>');
    background-size: cover;
}

.all h1,
h2,
.filter {
    margin: 10px;
    text-align: center;
}

.item-shell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 100px auto;
}

.item {
    flex: 1 1 25em;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border: 2px solid rgba(100, 100, 100, 0.3);
    border-radius: 1em;
    background-color: rgba(100, 100, 100, 0.3);
    transition: border-color, background-color 0.5s ease;
}

.item:hover {
    border: 2px solid rgba(246, 103, 60, 0.3);
    background-color: rgba(246, 103, 60, 0.3);
    cursor: pointer;
}

.image img {
    display: block;
    margin: auto;
    width: 50%;
    aspect-ratio: 4/3;
    /* object-fit: contain; */
    border-radius: 8px;
}

.no-margin {
    margin: 0;
}

.padding-sm {
    padding: 0.2em;
}

.center-text {
    text-align: center;
}

.new-line {
    word-wrap: break-word;
}

#favourite {
    padding: 3%;
    background-color: transparent;
    border: none;
}

.fa-heart {
    font-size: xx-large;
    cursor: default;
    color: red;
}

.filter {
    color: #333;
    font-size: x-large;
}

.filter form input {
    background-color: #f6673c;
    color: white;
    opacity: 0.5;
    border: 1px solid #333;
    transition: opacity, color 0.5s ease;
    padding: 0.8em;
    width: 10em;
    outline: 0;
    border-radius: 5px;
}

.filter form input:hover {
    opacity: 1;
    color: black;
}

@media (max-width: 460px) {
    .container * {
        font-size: medium;
    }

    .image-div img {
        width: 100%;
    }

    .products {
        overflow: auto;
    }

    .products table {
        table-layout: fixed;
    }
}

#oblast {
    outline: 0;
    border: 2px solid #f6673c;
    border-radius: 5px;
    box-shadow: 0 0 0 #f6673c;
    transition: box-shadow 500ms ease-in-out;
    appearance: none;
    padding: 10px;
    width: 200px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 2em 1em;
    background-position: right center;
    background-clip: border-box;
    transition: background-image 0.5s ease;
}

#oblast:focus {
    box-shadow: 0 0 6px #f6673c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}



/* STYLE FOR THE CLICKED RESTAURANT */

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.left-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.image-div {
    margin: auto;
}

.image-div img {
    max-width: 100%;
}

.container div img {
    height: 15em;
}

.container div h1 {
    margin-bottom: 5px;
    height: fit-content;
}

#price-div{
    width: fit-content;
    margin: 10px auto auto auto;
    border: 2px solid black;
    border-radius: 16px;
}

.container div p {
    width: 40em;
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.products th {
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
}

.products h2 {
    margin: 0 0 1em 0;
}

.products tr td {
    text-align: center;
}

.products tr td input {
    width: 20%;
    float: left;
}

#float-r .fa-shopping-cart {
    margin: 0;
    padding: 0;
    float: left;
}

#cart {
    position: absolute;
    top: 80px;
    right: 20px;
    display: none;
    width: fit-content;
    background-color: #f6673c;
    text-align: center;
}

#cart table,
#cart th,
#cart td {
    border: 2px solid black;
    border-collapse: collapse;
}

#cart table #cart th,
#cart td,
#cart button {
    padding: 0.5em;
}

#total {
    font-size: 5vw;
}

.new-line p {
    width: 50%;
    margin: auto;
}

.desc-clicked {
    border: 2px solid #333;
    background-color: #333;
    color: #f6673c;
    border-radius: 10px;
    font-size: 25px;
    width: fit-content;
    padding: 10px;
}

[class="add"],
[class="remove"],
#checkout-button,
.bottom form input[type="submit"] {
    background-color: #f6673c;
    color: white;
    border-radius: 1em;
    padding: 5px;
    border-color: #333;
    transition: color, background-color 0.5s ease;
}

[class="add"]:hover,
[class="remove"]:hover,
#checkout-button:hover,
.bottom form input[type="submit"]:hover {
    background-color: white;
    color: #333;
}

.line {
    height: 12px;
    position: relative;
    background-color: #f6673c;
}

.products h1 {
    font-size: 2em;
    text-align: center;
}

.right-div .center-text {
    margin-top: 3%;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50em;
    background-color: #3f3f3f;
}

.bottom form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom form input[type="submit"] {
    margin-top: 10px;
    width: fit-content;
}

.bottom textarea {
    resize: none;
    border: 4px dashed #f6673c;
    padding: 5px;
    outline: none;
    background-color: #d3d3d3;
}

input[type="range"] {
    appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    margin-bottom: 20px;
    transition: opacity 500ms ease;
}

input[type="range"]:hover{
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 0;
    background: url("../restaurant_photos/icon/star.svg") no-repeat;
    background-position: 0px center;
    background-size: 30px;
    cursor: pointer;
}

#indicator{
    font-size: 2em;
    margin-bottom: 10px;
    color: white;
}

.review-form h1{
    margin: 20px;
    color: white;
    text-align: center;
}

.reviews-div{
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    margin: 20px 0 20px 0;
    width: 50%;
    overflow-y: auto;
}

#user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: xx-large;
    margin: 10px;
    gap: 10px;
    border: 2px solid #f6673c;
    padding: 4px;
    border-radius: 16px;
}

#user-info i[class*="fa-user"]{
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
}

#user-info i[class*="fa-star"]{
    text-indent: 10px;
}

#user-info p{
    flex: 1;
}

.reviews-div div[class*="review"]{
    border-bottom: 5px solid #f6673c;
}

.reviews-div div span{
    float: right;
}

.reviews-div > div > p::before{
    content: '🡲 ';
}

.reviews-div > div > p{
    font-size: x-large;
    margin: 10px;
    text-indent: 5px;
    word-break: break-word;
}

.reviews-div #delete-review{
    float: right;
    margin: 0 10px 0 0;
    background-color: #FF2400;
    padding: 8px;
    opacity: 0.7;
    transition: opacity 0.8s ease;
    border-radius: 16px;
    border-color: #f6673c;
}


.reviews-div #delete-review:hover{
    opacity: 1;
}
