@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --whiteish: #E1E6E1;
    --orange: #F6673C;
    --grey: #292F36;
}

@keyframes comingDown {
    from {
        top: -100px;
    }

    to {
        top: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex;
    position: relative;
    list-style-type: none;
    justify-content: center;
    animation: comingDown 1s ease;
    margin: 10px;
}

.navbar ul {
    list-style-type: none;
}

.navbar-container {
    width: 100%;
}

.navbar-items {
    border-radius: 1em;
    display: block;
}

.navbar-toggle {
    display: none;
}

.navbar-items img[alt="icon"] {
    width: 4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:var(--grey);
    top: 0;
    width: 100%;
    height: 4rem;
    text-align: center;
}

.navbar ul li {
    float: left;
    list-style: none;
    bottom: 0;
}

.navbar li a {
    display: block;
    padding: 1.5em;
    text-align: center;
    text-decoration: none;
    color:var(--whiteish);
    font-weight: 500;
}

.navbar li img {
    padding: 5px;
}

.navbar li a:hover {
    background-color: rgba(246, 103, 60, 0.4);
}

.current {
    background-color: var(--orange);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center-element {
    justify-content: center;
    align-items: center;
}

#float-r {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    float: right;
    height: 100%;
}

#cart table,
#total {
    font-size: 1vw !important;
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOR TINY SCREENS */
@media (max-width: 1035px) {
    .navbar-container {
        display: block;
        width: 100%;
        background-color: #333;
        border-radius: 1em;
    }

    .navbar-container ul {
        margin: 0;
        padding: 0;
        justify-content: center;
        height: fit-content;
        flex-direction: column;
    }

    .navbar-container ul li {
        width: 100%;
    }

    .navbar-toggle {
        display: flex;
        padding: 5px;
        justify-content: center;
        font-size: xx-large;
        color: var(--whiteish);
    }

    .fa-bars {
        cursor: pointer;
    }

    .navbar-items {
        display: none;
    }

    #images {
        width: fit-content !important;
        margin: 0 0 0 0 !important;
    }

    #cart {
        top: 500px !important;
        left: -20px !important;
    }

    #cart table,
    #total {
        font-size: 3.5vw !important;
    }

    .desc-clicked {
        font-size: 3.5vw;
    }

    #content p {
        font-size: medium !important;
    }

    .navbar-items li:first-child {
        text-align: center;
    }

    .container div p {
        width: auto !important;
    }

    .container div img {
        height: auto !important;
    }
    .footer{
        height: 15vh;
    }
}

@media (min-width: 1035px) {
    .navbar-items {
        display: block !important;
    }
}
